<nav id="app-header">
    <div class="container-fluid d-flex align-items-center pl-3 pr-3 pt-2 pb-2">
        <div>
            <h2 class="demo-title cursor-pointer m-0" [routerLink]="['app']">
                <mat-icon class="demo-logo-icon">{{config.marketplace_type === 'template' ? 'web' : 'extension'}}</mat-icon>
                <span>{{config.title}}</span>
             </h2>
            <div class="m-0 mt-1 p-0 powered-by">
                <b class="mr-2">Powered By</b>
                <a href="https://www.xano.com" target="_blank">
                    <img class="logo clickable"
                         src="https://app.xano.com/admin/assets/images/xano-logo-tagline.svg"/>
                </a>
            </div>
        </div>
        <div class='ml-auto' *ngIf='loggedIn'>
            <button mat-button (click)='logout()'>Logout</button>
        </div>
    </div>
</nav>

