<section class='d-flex justify-content-center align-items-center'>
  <mat-card style='width: 400px'>
    <mat-card-title>You're logged in {{user?.name | titlecase}}!</mat-card-title>
    <mat-divider></mat-divider>
    <div class='pt-4 pb-4'>
      <div *ngIf='ready'>
        <div *ngIf='accountLinked else outsetaNotLinked'>
          <h4>Outseta Profile</h4>
          <div class='d-flex flex-column'>
            <ng-container *ngFor='let x of outsetaProfile | keyvalue'>
              <div *ngIf="['uid', 'email', 'fullname'].includes(x.key.toString().toLowerCase())">
                <b>{{x.key}}</b>: {{x.value}}
              </div>
            </ng-container>
          </div>

          <button mat-flat-button color='warn' class="w-100 mt-2" (click)='unlinkAccount()'>Unlink Outseta</button>
        </div>

        <ng-template #outsetaNotLinked>
          <h4>Link your Outseta account</h4>
          <p style='max-width: 400px'>
            Looks like you haven't linked your Outseta account, you can login using the Outseta widget or use the form
            below to link your account.
          </p>

          <app-form-generator [schema]='formSchema' (formOutput)='form = $event'></app-form-generator>
          <button mat-flat-button color='primary' class='w-100' (click)='linkAccount()'>Link Outseta</button>
        </ng-template>
      </div>
    </div>
  </mat-card>
</section>
