#image-upload {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 5px;
    background: rgba(0,0,0,0.25);
}

#uploaded-image {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: -38px;
    align-items: center;
    width: fit-content;
    height: fit-content;

    img {
        object-fit: cover;
        object-position: center;
        max-width: 100%
    }

    button {
        margin-left: auto;
        transform: translate(-25px, 50px);
    }
}
