<section id="home">
    <div class='d-flex justify-content-center align-items-center h-100'>
        <mat-card class='p-4' style='width: 400px'>

            <ng-container *ngIf='loginWithOutseta && !showSignup'>
                <mat-card-title class='ml-0 pl-0 text-center'>Outseta</mat-card-title>
                <mat-divider></mat-divider>
                <app-outseta-login></app-outseta-login>

                <div class='text-center mt-2 mb-2'>
                    <b>--OR--</b>
                </div>
                <div>
                    <button mat-flat-button color='primary' class='w-100' (click)='loginWithOutseta = false'>
                        Standard Login
                    </button>
                </div>
            </ng-container>

            <ng-container *ngIf='!loginWithOutseta && !showSignup'>
                <mat-card-title class='ml-0 pl-0 text-center'>Login</mat-card-title>
                <mat-divider></mat-divider>
                <div class='pb-2 pt-4'>
                    <app-form-generator
                      (keydown.enter)='requestMagicLink()'
                      [schema]='formSchema'
                      (formOutput)='form = $event'
                    ></app-form-generator>
                </div>

                <button mat-flat-button color='primary' class='w-100' (click)='requestMagicLink()'>
                    Login
                </button>

                <div class='text-center mt-2 mb-2'>
                    <b>--OR--</b>
                </div>
                <div>
                    <button mat-flat-button color='primary' class='w-100' (click)='loginWithOutseta = true'>
                        Login with Outseta
                    </button>
                </div>


                <div class='mt-4 text-center'>Don't have an account?
                    <b class='cursor-pointer' (click)='showSignup = true'>Register Now</b>
                </div>
            </ng-container>

            <ng-container *ngIf='showSignup'>
                <mat-card-title class='ml-0 pl-0 text-center'>Signup</mat-card-title>
                <mat-divider></mat-divider>
                <div class='pb-2 pt-4'>
                    <app-form-generator
                      [schema]='signupFormSchema'
                      (formOutput)='signupForm = $event'
                      [appearance]="'standard'"
                    ></app-form-generator>
                </div>

                <button mat-flat-button color='primary' class='w-100' (click)='signup()'>
                    Sign up now
                </button>


                <div class='mt-4'>Already have an account?
                    <b class='cursor-pointer' (click)='showSignup = false'>Login Now</b>
                </div>
            </ng-container>
        </mat-card>
    </div>
</section>
